* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsla(0, 0%, 100%, 1);
  --text-color:hsla(240, 6%, 21%, 1);
  --bg-controls: hsla(240, 9%, 89%, 1);
  --btn-hover: hsla(194, 97%, 31%, 1);
  --fire-color: linear-gradient(-45deg, #ee7752, #f43a3d, #efe14b, #d59123);
  --rain-color: linear-gradient(-45deg, #0391c5, #02a2d3, #022def, #efedea);
  --tree-color: linear-gradient(-45deg, #431300, #015101, #01912c, #02ac1e);
  --coffee-color: linear-gradient(-45deg, #f6e4de, #f0eded, #efe14b, #dac29c);
  --start-color: linear-gradient(-45deg, #fbd0c1, #cdc0c0, #ceccbb, #cfc9be);

font-family: sans-serif;
 font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
  display: grid;
  height: 100vh;
  place-content: center;
  
  background: var(--start-color);
}

#hero {
  display: flex;
  gap: 19.2rem;
}

#timer {
  color: var(--bg-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  

}

#display {
  display: flex;
  font-size: 12.6rem;
  font-weight: 500;
  margin-bottom: 1.7rem;
  
}

#buttons {
  display: flex;
  gap: 4rem;
  justify-content: center;

}

button {
  font-size: 4.8rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;

}
#controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.2rem;
}




#card {
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
  
 
}

.ph-fire-simple:hover{
 
  background: var(--fire-color);
  color: var(--text-color);
}

.ph-tree-evergreen:hover{
 
  background: var(--tree-color);
  color: var(--bg-color);
}

.ph-cloud-rain:hover{
 
  background: var(--rain-color);
  color: var(--bg-color);
}

.ph-storefront:hover{
 
  background: var(--coffee-color);
  color: var(--text-color);
}





.firebg {
  background: var(--fire-color);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.rainbg {
  background: var(--rain-color);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.treebg {
  background: var(--tree-color);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.coffeebg {
  background: var(--coffee-color);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
